In [1]:
import pandas as pd

In [131]:
df = pd.read_csv("Furnace Draw.csv")

In [132]:
df

          Date  Furnace\nDraw\n(MT)  Cullet %
0    01-Apr-21                  162      22.0
1    02-Apr-21                  162      21.0
2    03-Apr-21                  163      20.0
3    04-Apr-21                  163      20.0
4    05-Apr-21                  163      20.0
..         ...                  ...       ...
335  02-Mar-22                  161      30.0
336  03-Mar-22                  154      30.0
337  04-Mar-22                  156      30.0
338  05-Mar-22                  158      30.0
339  06-Mar-22                  155      30.0

[340 rows x 3 columns]

In [102]:
df1 = pd.read_csv("Flat_File_Furnace_Level_wthout_CE_data.csv")
df1 = df1.drop("Unnamed: 0", axis=1)

In [103]:
df1

,Date Time,"Fiber Optic Thermometer -F/H61- Crank _DB223,DD134,QC","Fiber Optic Thermometer -F/H61- Front_DB69,DD134,QC","Fiber Optic Thermometer -F/H61- Pre-heating _DB72,DD134,QC","Fiber Optic Thermometer -F/H61- Middle_DB148,DD134,QC","Fiber Optic Thermometer -F/H61- Rear _DB145,DD134,QC","Fiber Optic Thermometer -F/H62- Front_DB153,DD134,QC","Fiber Optic Thermometer -F/H62- Middle_DB156,DD134,QC","Fiber Optic Thermometer -F/H62- Rear _DB161,DD134,QC","Fiber Optic Thermometer -F/H63- Front_DB166,DD134,QC",...,chem_comp_CaO,chem_comp_MgO,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result,Line,DPR Eff,ActDrw(Ton)
0,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,9.395,1.82,13.49,0.315,0.1875,2.4976,25.5,S14,89.51,1.00
1,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,9.395,1.82,13.49,0.315,0.1875,2.4976,25.5,S15,90.26,0.77
2,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,9.395,1.82,13.49,0.315,0.1875,2.4976,25.5,S16,91.73,0.51
3,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,9.395,1.82,13.49,0.315,0.1875,2.4976,25.5,S18,66.18,1.16
4,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,9.395,1.82,13.49,0.315,0.1875,2.4976,25.5,S19,56.86,0.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45357,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,8.280,2.05,13.46,0.430,0.2200,2.5012,16.0,S15,60.31,0.63
45358,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,8.280,2.05,13.46,0.430,0.2200,2.5012,16.0,S18,42.34,1.25
45359,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,8.280,2.05,13.46,0.430,0.2200,2.5012,16.0,S19,68.81,0.52
45360,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,8.280,2.05,13.46,0.430,0.2200,2.5012,16.0,S16,52.47,0.59
45361,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,8.280,2.05,13.46,0.430,0.2200,2.5012,16.0,S17,78.47,0.99

In [104]:
df1["Date_"] = pd.to_datetime(df1["Date Time"]).dt.date

In [105]:
df1["Date_"] = pd.to_datetime(df1["Date_"])
df1

,Date Time,"Fiber Optic Thermometer -F/H61- Crank _DB223,DD134,QC","Fiber Optic Thermometer -F/H61- Front_DB69,DD134,QC","Fiber Optic Thermometer -F/H61- Pre-heating _DB72,DD134,QC","Fiber Optic Thermometer -F/H61- Middle_DB148,DD134,QC","Fiber Optic Thermometer -F/H61- Rear _DB145,DD134,QC","Fiber Optic Thermometer -F/H62- Front_DB153,DD134,QC","Fiber Optic Thermometer -F/H62- Middle_DB156,DD134,QC","Fiber Optic Thermometer -F/H62- Rear _DB161,DD134,QC","Fiber Optic Thermometer -F/H63- Front_DB166,DD134,QC",...,chem_comp_MgO,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result,Line,DPR Eff,ActDrw(Ton),Date_
0,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,1.82,13.49,0.315,0.1875,2.4976,25.5,S14,89.51,1.00,2021-01-13
1,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,1.82,13.49,0.315,0.1875,2.4976,25.5,S15,90.26,0.77,2021-01-13
2,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,1.82,13.49,0.315,0.1875,2.4976,25.5,S16,91.73,0.51,2021-01-13
3,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,1.82,13.49,0.315,0.1875,2.4976,25.5,S18,66.18,1.16,2021-01-13
4,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,1.82,13.49,0.315,0.1875,2.4976,25.5,S19,56.86,0.57,2021-01-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45357,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,2.05,13.46,0.430,0.2200,2.5012,16.0,S15,60.31,0.63,2022-01-01
45358,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,2.05,13.46,0.430,0.2200,2.5012,16.0,S18,42.34,1.25,2022-01-01
45359,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,2.05,13.46,0.430,0.2200,2.5012,16.0,S19,68.81,0.52,2022-01-01
45360,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,2.05,13.46,0.430,0.2200,2.5012,16.0,S16,52.47,0.59,2022-01-01
45361,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,2.05,13.46,0.430,0.2200,2.5012,16.0,S17,78.47,0.99,2022-01-01

In [137]:
df["Date"] = pd.to_datetime(df["Date"])
df

          Date  Furnace\nDraw\n(MT)  Cullet %
0   2021-04-01                  162      22.0
1   2021-04-02                  162      21.0
2   2021-04-03                  163      20.0
3   2021-04-04                  163      20.0
4   2021-04-05                  163      20.0
..         ...                  ...       ...
335 2022-03-02                  161      30.0
336 2022-03-03                  154      30.0
337 2022-03-04                  156      30.0
338 2022-03-05                  158      30.0
339 2022-03-06                  155      30.0

[340 rows x 3 columns]

In [138]:
df.rename(columns={'Furnace\nDraw\n(MT)': 'Furnace Draw'}, inplace=True)
df

          Date  Furnace Draw  Cullet %
0   2021-04-01           162      22.0
1   2021-04-02           162      21.0
2   2021-04-03           163      20.0
3   2021-04-04           163      20.0
4   2021-04-05           163      20.0
..         ...           ...       ...
335 2022-03-02           161      30.0
336 2022-03-03           154      30.0
337 2022-03-04           156      30.0
338 2022-03-05           158      30.0
339 2022-03-06           155      30.0

[340 rows x 3 columns]

In [139]:
df3 = pd.merge(df1, df, how="left", left_on = "Date_", right_on="Date")
df3 = df3.drop("Date_y", axis=1)
df3 = df3.drop("Date_", axis=1)
df3 = df3.drop("Unnamed: 0", axis=1)
df3.rename(columns={'Date_x': 'Date'}, inplace=True)

In [140]:
df3

,Date,DCS_160TPD_CHIMANY_DRAFT_PRESSURE_MEASURMENT_CHMYDRFTPTAI32,DCS_160TPD_AIR_PRESSURE_MEASUREMENT_OF_DIST_FH_COMB_BLOWER_HEADER_DFCBPTAI35,DCS_160TPD_DIST_FH_GAS_FLOW_MEASUREMENT_DFGFTAI25,DCS_160TPD_DIST_ZONE_1_TEMP_MEASURMENT_DISTPYROZ1AI40,DCS_160TPD_DIST_ZONE_2_TEMP_MEASURMENT_DISTPYROZ2AI41,DCS_160TPD_DIST_ZONE_3_TEMP_MEASURMENT_DISTPYROZ3AI42,DCS_160TPD_DIST_ZONE_4_TEMP_MEASURMENT_DISTPYROZ4AI43,DCS_160TPD_DIST_ZONE_5_TEMP_MEASURMENT_DISTPYROZ5AI44,DCS_160TPD_DIST_ZONE_6_TEMP_MEASURMENT_DISTPYROZ6AI45,...,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result,Line,DPR Eff,ActDrw(Ton),Furnace Draw,Cullet %
0,2021-01-01 07:00:00,-54.042479,719.979228,314.890120,1211.885413,1291.797225,1349.263713,1364.932113,1307.063123,1289.312573,...,13.89,0.0,0.1195,2.50585,13.0,J19,93.95,0.88,NaN,NaN
1,2021-01-01 07:00:00,-54.042479,719.979228,314.890120,1211.885413,1291.797225,1349.263713,1364.932113,1307.063123,1289.312573,...,13.89,0.0,0.1195,2.50585,13.0,J14,91.41,0.53,NaN,NaN
2,2021-01-01 07:00:00,-54.042479,719.979228,314.890120,1211.885413,1291.797225,1349.263713,1364.932113,1307.063123,1289.312573,...,13.89,0.0,0.1195,2.50585,13.0,J17,82.79,0.42,NaN,NaN
3,2021-01-01 07:00:00,-54.042479,719.979228,314.890120,1211.885413,1291.797225,1349.263713,1364.932113,1307.063123,1289.312573,...,13.89,0.0,0.1195,2.50585,13.0,J13,84.00,1.72,NaN,NaN
4,2021-01-01 07:00:00,-54.042479,719.979228,314.890120,1211.885413,1291.797225,1349.263713,1364.932113,1307.063123,1289.312573,...,13.89,0.0,0.1195,2.50585,13.0,J20,90.91,1.58,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58393,2021-12-31 23:00:00,-49.912128,720.081260,282.910116,1161.277987,1257.514030,1354.079553,1360.874190,1283.983988,1277.820585,...,NaN,NaN,NaN,NaN,NaN,J14,77.24,0.48,165.0,25.0
58394,2021-12-31 23:00:00,-49.912128,720.081260,282.910116,1161.277987,1257.514030,1354.079553,1360.874190,1283.983988,1277.820585,...,NaN,NaN,NaN,NaN,NaN,J20,42.50,1.95,165.0,25.0
58395,2021-12-31 23:00:00,-49.912128,720.081260,282.910116,1161.277987,1257.514030,1354.079553,1360.874190,1283.983988,1277.820585,...,NaN,NaN,NaN,NaN,NaN,J13,88.85,1.42,165.0,25.0
58396,2021-12-31 23:00:00,-49.912128,720.081260,282.910116,1161.277987,1257.514030,1354.079553,1360.874190,1283.983988,1277.820585,...,NaN,NaN,NaN,NaN,NaN,J15,84.40,0.51,165.0,25.0
58397,2021-12-31 23:00:00,-49.912128,720.081260,282.910116,1161.277987,1257.514030,1354.079553,1360.874190,1283.983988,1277.820585,...,NaN,NaN,NaN,NaN,NaN,J17,81.26,0.43,165.0,25.0

In [141]:
df3["Date"] = pd.to_datetime(df3["Date"])

In [96]:
# df4 = pd.read_excel("Draw and Cullet percentage (1).xlsx")
# df4 = df4.drop("250 TPD", axis=1)
# df4 = df4.drop("Unnamed: 5", axis=1)
# df4

In [97]:
# new_header = df4.iloc[0]  # grab the first row for the header
# df4 = df4[1:]  # take the data less the header row
# df4.columns = new_header
# df4

In [98]:
# df4["Date"] = pd.to_datetime(df4["Date"]).dt.date

In [99]:
# df4["Date"] = df4["Date"].astype(str)

In [100]:
# df4.to_csv("Cullet_Information_160_Tpd.csv")

In [101]:
# df4 = pd.read_csv("Cullet_Information_160_Tpd.csv")
# df4.info()

In [102]:
# df4["Date"] = pd.to_datetime(df4["Date"]+ " " + df4["Time"])

In [103]:
# df4 = df4.drop("Unnamed: 0", axis=1)
# # df4 =df4.drop("Time", axis=1)

In [104]:
# df4["Date"] = pd.to_datetime(df4["Date"]).dt.round("1h")

In [105]:
# df4.head(20)

In [106]:
# df5 = pd.merge(df3, df4, how="left", on ="Date")
# df5

In [107]:
# df5.to_csv("Flat_File_with_Draw_and_Cullet.csv")

In [108]:
# df5 = pd.read_csv("160tpd/Flat_File_with_Draw_and_Cullet.csv")

In [109]:
# df5

In [110]:
# df5["Date"] = pd.to_datetime(df5["Date"])

In [142]:
df6 = pd.read_csv("ce_setout_R.csv")
df6 = df6.drop("Unnamed: 0", axis=1)
df6.rename(columns = {"From":"Date"}, inplace = True)

In [143]:
df6

,Date,LineName,JobNumber,PONumber,SampleSize,DefectCode,DefectCount,Name
0,07-04-2021 13:30,R2,J20042,1022558,50,506,1,BLISTER
1,07-04-2021 13:30,R2,J20042,1022558,50,250,2,LOADING MARK
2,07-04-2021 13:30,R2,J20042,1022558,50,100,1,HEAD CRACK
3,07-04-2021 13:30,R2,J20042,1022558,50,123,1,TONG CHECK
4,16-06-2021 02:30,R2,J21265,1024069,50,220,1,LAP MARK
...,...,...,...,...,...,...,...,...
184395,20-10-2021 06:30,S19,J23505,1026400,50,226,3,OIL SPOTS (MARK)
184396,20-10-2021 06:30,S19,J23505,1026400,50,506,2,BLISTER
184397,20-10-2021 06:30,S19,J23505,1026400,50,506,2,BLISTER
184398,08-04-2021 07:30,S17,J20062,1022867,50,220,1,LAP MARK
184399,21-06-2021 22:30,S16,J21240,1024018,100,201,1,SHOULDER CRACK

In [144]:
df6 = df6.drop(["JobNumber", "PONumber",
               "DefectCode"], axis=1)

In [145]:
df6

                    Date LineName  SampleSize  DefectCount              Name
0       07-04-2021 13:30       R2          50            1           BLISTER
1       07-04-2021 13:30       R2          50            2      LOADING MARK
2       07-04-2021 13:30       R2          50            1        HEAD CRACK
3       07-04-2021 13:30       R2          50            1        TONG CHECK
4       16-06-2021 02:30       R2          50            1          LAP MARK
...                  ...      ...         ...          ...               ...
184395  20-10-2021 06:30      S19          50            3  OIL SPOTS (MARK)
184396  20-10-2021 06:30      S19          50            2           BLISTER
184397  20-10-2021 06:30      S19          50            2           BLISTER
184398  08-04-2021 07:30      S17          50            1          LAP MARK
184399  21-06-2021 22:30      S16         100            1    SHOULDER CRACK

[184400 rows x 5 columns]

In [146]:
df6 = df6[df6["Name"]!="BREAKAGE"]

In [147]:
# df6 = df6.loc[df6['Name'].isin(['Bubble (>2.5 mm)', 'BLISTER'])]
# df6

In [148]:
df6

                    Date LineName  SampleSize  DefectCount              Name
0       07-04-2021 13:30       R2          50            1           BLISTER
1       07-04-2021 13:30       R2          50            2      LOADING MARK
2       07-04-2021 13:30       R2          50            1        HEAD CRACK
3       07-04-2021 13:30       R2          50            1        TONG CHECK
4       16-06-2021 02:30       R2          50            1          LAP MARK
...                  ...      ...         ...          ...               ...
184395  20-10-2021 06:30      S19          50            3  OIL SPOTS (MARK)
184396  20-10-2021 06:30      S19          50            2           BLISTER
184397  20-10-2021 06:30      S19          50            2           BLISTER
184398  08-04-2021 07:30      S17          50            1          LAP MARK
184399  21-06-2021 22:30      S16         100            1    SHOULDER CRACK

[182489 rows x 5 columns]

In [112]:
df6["Date"] = df6["Date"]+" "+df6["Time"]

KeyError: 'Time'

In [149]:
# df6 = df6.drop("Time", axis=1)
df6 = df6.drop("Name", axis=1)

In [150]:
df6

                    Date LineName  SampleSize  DefectCount
0       07-04-2021 13:30       R2          50            1
1       07-04-2021 13:30       R2          50            2
2       07-04-2021 13:30       R2          50            1
3       07-04-2021 13:30       R2          50            1
4       16-06-2021 02:30       R2          50            1
...                  ...      ...         ...          ...
184395  20-10-2021 06:30      S19          50            3
184396  20-10-2021 06:30      S19          50            2
184397  20-10-2021 06:30      S19          50            2
184398  08-04-2021 07:30      S17          50            1
184399  21-06-2021 22:30      S16         100            1

[182489 rows x 4 columns]

In [151]:
df6 = df6.groupby(["Date", "LineName"])["SampleSize", "DefectCount"].sum().reset_index()

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [152]:
df6

                   Date LineName  SampleSize  DefectCount
0      01-01-2021 00:30      S14        1200           17
1      01-01-2021 00:30      S17         100            4
2      01-01-2021 00:30      S18         250            6
3      01-01-2021 01:30      S14        1400           20
4      01-01-2021 01:30      S18         200            6
...                 ...      ...         ...          ...
19620  31-12-2021 21:30      S19         450           23
19621  31-12-2021 22:30      S17         300           14
19622  31-12-2021 22:30      S19         450           20
19623  31-12-2021 23:30       R1         250            9
19624  31-12-2021 23:30      S15        2400           30

[19625 rows x 4 columns]

In [153]:
df1["Date Time"] = pd.to_datetime(df1["Date Time"])

In [154]:
df6["Date"] = pd.to_datetime(df6["Date"]).dt.round("1h")

In [155]:
df6

                     Date LineName  SampleSize  DefectCount
0     2021-01-01 00:00:00      S14        1200           17
1     2021-01-01 00:00:00      S17         100            4
2     2021-01-01 00:00:00      S18         250            6
3     2021-01-01 02:00:00      S14        1400           20
4     2021-01-01 02:00:00      S18         200            6
...                   ...      ...         ...          ...
19620 2021-12-31 22:00:00      S19         450           23
19621 2021-12-31 22:00:00      S17         300           14
19622 2021-12-31 22:00:00      S19         450           20
19623 2022-01-01 00:00:00       R1         250            9
19624 2022-01-01 00:00:00      S15        2400           30

[19625 rows x 4 columns]

In [156]:
df6["Date"] = df6["Date"] - pd.Timedelta(hours=1)
df6

                     Date LineName  SampleSize  DefectCount
0     2020-12-31 23:00:00      S14        1200           17
1     2020-12-31 23:00:00      S17         100            4
2     2020-12-31 23:00:00      S18         250            6
3     2021-01-01 01:00:00      S14        1400           20
4     2021-01-01 01:00:00      S18         200            6
...                   ...      ...         ...          ...
19620 2021-12-31 21:00:00      S19         450           23
19621 2021-12-31 21:00:00      S17         300           14
19622 2021-12-31 21:00:00      S19         450           20
19623 2021-12-31 23:00:00       R1         250            9
19624 2021-12-31 23:00:00      S15        2400           30

[19625 rows x 4 columns]

In [157]:
df7 = pd.merge(df1, df6, how="left", left_on=["Date Time", "Line"], right_on = ["Date", "LineName"])

In [158]:
df7= df7.drop("LineName", axis=1)
df7 = df7.drop("Date_",axis=1)
df7 = df7.drop("Date", axis=1)
df7

,Date Time,"Fiber Optic Thermometer -F/H61- Crank _DB223,DD134,QC","Fiber Optic Thermometer -F/H61- Front_DB69,DD134,QC","Fiber Optic Thermometer -F/H61- Pre-heating _DB72,DD134,QC","Fiber Optic Thermometer -F/H61- Middle_DB148,DD134,QC","Fiber Optic Thermometer -F/H61- Rear _DB145,DD134,QC","Fiber Optic Thermometer -F/H62- Front_DB153,DD134,QC","Fiber Optic Thermometer -F/H62- Middle_DB156,DD134,QC","Fiber Optic Thermometer -F/H62- Rear _DB161,DD134,QC","Fiber Optic Thermometer -F/H63- Front_DB166,DD134,QC",...,chem_comp_Na2O,chem_comp_K2O,chem_comp_SO3,physical_test_density_gm_cc,physical_test_seed_count_result,Line,DPR Eff,ActDrw(Ton),SampleSize,DefectCount
0,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,13.49,0.315,0.1875,2.4976,25.5,S14,89.51,1.00,NaN,NaN
1,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,13.49,0.315,0.1875,2.4976,25.5,S15,90.26,0.77,1300.0,16.0
2,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,13.49,0.315,0.1875,2.4976,25.5,S16,91.73,0.51,800.0,22.0
3,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,13.49,0.315,0.1875,2.4976,25.5,S18,66.18,1.16,600.0,21.0
4,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,13.49,0.315,0.1875,2.4976,25.5,S19,56.86,0.57,600.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46833,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,13.46,0.430,0.2200,2.5012,16.0,S15,60.31,0.63,NaN,NaN
46834,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,13.46,0.430,0.2200,2.5012,16.0,S18,42.34,1.25,NaN,NaN
46835,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,13.46,0.430,0.2200,2.5012,16.0,S19,68.81,0.52,NaN,NaN
46836,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,13.46,0.430,0.2200,2.5012,16.0,S16,52.47,0.59,NaN,NaN
46837,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,13.46,0.430,0.2200,2.5012,16.0,S17,78.47,0.99,NaN,NaN

In [159]:
df8 = pd.read_csv("job_plan_30min_R.csv", encoding="ISO-8859–1")

C:\Users\Rishav\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [160]:
df8

,Unnamed: 0,StartTime,EndTime,Id,Identifier,LineName,Number,Name,FGCode,NumberOfSection,...,JobRunningMode,JobChangeStartTime,NumberOfPacksPerPalette,AQLCode,InspectionLotNumber,GobWeight,PlantCode,StandardEfficiencyAchievedDate,ExpectedJobChangeTime,Classification
0,0,2020-09-17 18:30:00,2020-09-17 19:00:00,16372,7c794b6a-5b1f-4985-bdf6-df318e23348a,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,...,0,2021-02-18 06:03:00.0000000,0,NaN,3.000003e+10,196.0,1120,NaN,NaN,NaN
1,1,2020-09-17 19:00:00,2020-09-17 19:30:00,16372,7c794b6a-5b1f-4985-bdf6-df318e23348a,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,...,0,2021-02-18 06:03:00.0000000,0,NaN,3.000003e+10,196.0,1120,NaN,NaN,NaN
2,2,2020-09-17 19:30:00,2020-09-17 20:00:00,16372,7c794b6a-5b1f-4985-bdf6-df318e23348a,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,...,0,2021-02-18 06:03:00.0000000,0,NaN,3.000003e+10,196.0,1120,NaN,NaN,NaN
3,3,2020-09-17 20:00:00,2020-09-17 20:30:00,16372,7c794b6a-5b1f-4985-bdf6-df318e23348a,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,...,0,2021-02-18 06:03:00.0000000,0,NaN,3.000003e+10,196.0,1120,NaN,NaN,NaN
4,4,2020-09-17 20:30:00,2020-09-17 21:00:00,16372,7c794b6a-5b1f-4985-bdf6-df318e23348a,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,...,0,2021-02-18 06:03:00.0000000,0,NaN,3.000003e+10,196.0,1120,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196235,196235,2022-02-07 13:30:00,2022-02-07 14:00:00,25574,2b0e9613-a3bf-4d76-bc04-b5626da1a512,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,...,0,2022-02-07 00:39:00.0000000,0,NaN,3.000005e+10,195.0,1120,2022-02-07 18:30:00.0000000,2022-02-07 22:13:20.8300000,NaN
196236,196236,2022-02-07 14:00:00,2022-02-07 14:30:00,25574,2b0e9613-a3bf-4d76-bc04-b5626da1a512,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,...,0,2022-02-07 00:39:00.0000000,0,NaN,3.000005e+10,195.0,1120,2022-02-07 18:30:00.0000000,2022-02-07 22:13:20.8300000,NaN
196237,196237,2022-02-07 14:30:00,2022-02-07 15:00:00,25574,2b0e9613-a3bf-4d76-bc04-b5626da1a512,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,...,0,2022-02-07 00:39:00.0000000,0,NaN,3.000005e+10,195.0,1120,2022-02-07 18:30:00.0000000,2022-02-07 22:13:20.8300000,NaN
196238,196238,2022-02-07 15:00:00,2022-02-07 15:30:00,25574,2b0e9613-a3bf-4d76-bc04-b5626da1a512,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,...,0,2022-02-07 00:39:00.0000000,0,NaN,3.000005e+10,195.0,1120,2022-02-07 18:30:00.0000000,2022-02-07 22:13:20.8300000,NaN
196239,196239,2022-02-07 15:30:00,2022-02-07 16:00:00,25574,2b0e9613-a3bf-4d76-bc04-b5626da1a512,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,...,0,2022-02-07 00:39:00.0000000,0,NaN,3.000005e+10,195.0,1120,2022-02-07 18:30:00.0000000,2022-02-07 22:13:20.8300000,NaN

In [161]:
df8 = df8[["StartTime", "EndTime", "LineName", "Number", "Name", "FGCode", "NumberOfSection", "NumberOfGob",
           "GobCutPerMinute", "ISMachineActualSpeed", "GobWeightLow", "GobWeightHigh", "GlassDraw", "PackedQunatity", "Classification", "ProductionOrderNumber"]]
df8

,StartTime,EndTime,LineName,Number,Name,FGCode,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification,ProductionOrderNumber
0,2020-09-17 18:30:00,2020-09-17 19:00:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
1,2020-09-17 19:00:00,2020-09-17 19:30:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
2,2020-09-17 19:30:00,2020-09-17 20:00:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
3,2020-09-17 20:00:00,2020-09-17 20:30:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
4,2020-09-17 20:30:00,2020-09-17 21:00:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196235,2022-02-07 13:30:00,2022-02-07 14:00:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633
196236,2022-02-07 14:00:00,2022-02-07 14:30:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633
196237,2022-02-07 14:30:00,2022-02-07 15:00:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633
196238,2022-02-07 15:00:00,2022-02-07 15:30:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633
196239,2022-02-07 15:30:00,2022-02-07 16:00:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633

In [162]:
df8["StartTime"] = pd.to_datetime(df8["StartTime"])
df8["EndTime"] = pd.to_datetime(df8["EndTime"])
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196240 entries, 0 to 196239
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   StartTime              196226 non-null  datetime64[ns]
 1   EndTime                196226 non-null  datetime64[ns]
 2   LineName               196240 non-null  object
 3   Number                 196240 non-null  object
 4   Name                   196240 non-null  object
 5   FGCode                 196240 non-null  object
 6   NumberOfSection        196240 non-null  int64
 7   NumberOfGob            196240 non-null  int64
 8   GobCutPerMinute        196240 non-null  float64
 9   ISMachineActualSpeed   196240 non-null  float64
 10  GobWeightLow           196240 non-null  float64
 11  GobWeightHigh          196240 non-null  float64
 12  GlassDraw              196240 non-null  float64
 13  PackedQunatity         195143 non-null  float64
 14  Classification         189645 non-null  object
 15  ProductionOrderNumber  196240 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(3), object(5)
memory usage: 24.0+ MB

C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Rishav\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [163]:
# df8 = df8[["StartTime", "FGCode", "LineName"]]
df8

,StartTime,EndTime,LineName,Number,Name,FGCode,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity,Classification,ProductionOrderNumber
0,2020-09-17 18:30:00,2020-09-17 19:00:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
1,2020-09-17 19:00:00,2020-09-17 19:30:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
2,2020-09-17 19:30:00,2020-09-17 20:00:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
3,2020-09-17 20:00:00,2020-09-17 20:30:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
4,2020-09-17 20:30:00,2020-09-17 21:00:00,R1,J16372,100 ML ZC MRS - EB54,F3V2251QJPQ000001M,6,1,42.0,41.69,0.0,0.0,5.86,NaN,NaN,1018568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196235,2022-02-07 13:30:00,2022-02-07 14:00:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633
196236,2022-02-07 14:00:00,2022-02-07 14:30:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633
196237,2022-02-07 14:30:00,2022-02-07 15:00:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633
196238,2022-02-07 15:00:00,2022-02-07 15:30:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633
196239,2022-02-07 15:30:00,2022-02-07 16:00:00,S19,J25574,100 ML UNDO - MATSURI - TOMO -LDPEEB48,F3V1624QJPQ0202L1P,8,1,65.0,65.32,0.0,0.0,10.00,45320.0,NaN,1028633

In [171]:
df9 = pd.merge(df7, df8,  how='left', left_on=[
    'Date Time', 'Line'], right_on=['StartTime', 'LineName'])

In [172]:
df9 = df9.drop(["StartTime","LineName", "Name", "Number", "EndTime", "Classification", "ProductionOrderNumber"], axis=1)

In [173]:
df9

,Date Time,"Fiber Optic Thermometer -F/H61- Crank _DB223,DD134,QC","Fiber Optic Thermometer -F/H61- Front_DB69,DD134,QC","Fiber Optic Thermometer -F/H61- Pre-heating _DB72,DD134,QC","Fiber Optic Thermometer -F/H61- Middle_DB148,DD134,QC","Fiber Optic Thermometer -F/H61- Rear _DB145,DD134,QC","Fiber Optic Thermometer -F/H62- Front_DB153,DD134,QC","Fiber Optic Thermometer -F/H62- Middle_DB156,DD134,QC","Fiber Optic Thermometer -F/H62- Rear _DB161,DD134,QC","Fiber Optic Thermometer -F/H63- Front_DB166,DD134,QC",...,DefectCount,FGCode,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity
0,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,NaN,F3T1891QHLQ020001P,10.0,3.0,103.0,308.68,0.0,0.0,638.25,12451385.0
1,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,22.0,F3T0988AHPQ030001P,8.0,3.0,104.0,311.82,0.0,0.0,46.03,1493062.0
3,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,21.0,F3U0999QHTQ020001P,8.0,2.0,56.0,112.00,0.0,0.0,93.75,278827.0
4,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56265,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,NaN,F3V0203QJPQ000001M,8.0,2.0,60.0,119.33,0.0,0.0,77.89,327559.0
56266,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,NaN,G3V4753QRMQ000001P,8.0,1.0,74.0,74.39,0.0,0.0,28.03,169431.0
56267,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,NaN,S3V1076QJLQ0000V2P,8.0,1.0,55.0,54.74,0.0,0.0,26.60,110461.0
56268,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,NaN,F3T1734QNPQ000001P,8.0,3.0,100.0,299.96,0.0,0.0,19.88,366654.0
56269,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,NaN,F3U0579QJPQ000001M,8.0,2.0,55.0,110.36,0.0,0.0,64.19,273279.0

In [174]:
df9["FGCode"].value_counts()[:1]

F3T1891QHLQ020001P    6913
Name: FGCode, dtype: int64

In [175]:
df9_ = dict(df9["FGCode"].value_counts()[:1])
li = [k for k,v in df9_.items()]
li

['F3T1891QHLQ020001P']

In [176]:
df9 = df9[df9["FGCode"].isin(li)].reset_index()
df9 = df9.drop(["FGCode", "index"], axis=1)
df9

,Date Time,"Fiber Optic Thermometer -F/H61- Crank _DB223,DD134,QC","Fiber Optic Thermometer -F/H61- Front_DB69,DD134,QC","Fiber Optic Thermometer -F/H61- Pre-heating _DB72,DD134,QC","Fiber Optic Thermometer -F/H61- Middle_DB148,DD134,QC","Fiber Optic Thermometer -F/H61- Rear _DB145,DD134,QC","Fiber Optic Thermometer -F/H62- Front_DB153,DD134,QC","Fiber Optic Thermometer -F/H62- Middle_DB156,DD134,QC","Fiber Optic Thermometer -F/H62- Rear _DB161,DD134,QC","Fiber Optic Thermometer -F/H63- Front_DB166,DD134,QC",...,SampleSize,DefectCount,NumberOfSection,NumberOfGob,GobCutPerMinute,ISMachineActualSpeed,GobWeightLow,GobWeightHigh,GlassDraw,PackedQunatity
0,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,NaN,NaN,10.0,3.0,103.0,308.68,0.0,0.0,638.25,12451385.0
1,2021-01-13 13:00:00,1249.942957,1183.078032,1207.986953,1256.870397,1239.761187,1200.670618,1224.627233,1245.074212,1245.618875,...,NaN,NaN,10.0,3.0,103.0,308.68,0.0,0.0,638.25,12451385.0
2,2021-01-13 14:00:00,1250.104159,1182.755103,1207.950911,1253.981474,1239.813839,1200.088253,1224.624805,1245.112349,1244.896313,...,NaN,NaN,10.0,3.0,103.0,308.68,0.0,0.0,638.25,12451385.0
3,2021-01-13 14:00:00,1250.104159,1182.755103,1207.950911,1253.981474,1239.813839,1200.088253,1224.624805,1245.112349,1244.896313,...,NaN,NaN,10.0,3.0,103.0,308.68,0.0,0.0,638.25,12451385.0
4,2021-01-13 15:00:00,1249.835071,1183.229171,1207.958142,1253.339119,1239.896802,1200.932194,1225.238232,1244.949845,1244.973962,...,900.0,20.0,10.0,3.0,103.0,308.68,0.0,0.0,638.25,12451385.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6908,2022-01-01 02:00:00,1254.971057,1187.810026,1218.007328,1262.554496,1239.988424,1187.927763,1222.879529,1254.631075,1255.903727,...,NaN,NaN,10.0,3.0,103.0,308.68,0.0,0.0,658.41,12710153.0
6909,2022-01-01 03:00:00,1254.964791,1187.996688,1218.053141,1262.804789,1239.997587,1188.030957,1223.342981,1255.164917,1255.581116,...,1400.0,25.0,10.0,3.0,103.0,308.68,0.0,0.0,658.41,12710153.0
6910,2022-01-01 04:00:00,1255.027974,1188.076681,1218.043982,1263.350700,1240.003373,1187.891593,1222.939335,1255.334684,1255.646220,...,NaN,NaN,10.0,3.0,103.0,308.68,0.0,0.0,658.41,12710153.0
6911,2022-01-01 05:00:00,1254.836511,1187.890031,1217.950899,1263.170325,1239.920907,1187.748376,1222.550627,1254.620943,1254.977804,...,NaN,NaN,10.0,3.0,103.0,308.68,0.0,0.0,658.41,12710153.0
6912,2022-01-01 06:00:00,1253.574451,1187.976681,1217.949939,1263.657410,1239.979740,1187.925350,1222.732931,1254.539929,1255.093551,...,NaN,NaN,10.0,3.0,103.0,308.68,0.0,0.0,658.41,12710153.0

In [177]:
df9.to_csv("Flat_File_Forehearth_Level_Total-Breakage_top_sku.csv")